golang/
nextjs/next-ssr/.vscode/
nestjs/kafka-nest-integration/nestjs-mysql-kafka/.docker/*
*/.docker/*

nestjs/kafka-nest-integration/nestjs-mysql-kafka/dist/
nestjs/kafka-nest-integration/nestjs-mysql-kafka/node_modules/
transaction_processer/
